
[twitter]
consumer_key                   = cZy8DdioswAfu3LJYg6E2w
consumer_secret                = fnIGGU0T12mMWKjmThUdSeKN32NLWfmnwapwubVQ

[sina]
consumer_key                   = 3357007100
consumer_secret                = c6528d21e492d4cb4547b99247354448
